.achievement-notification {
  transition: transform 0.5s, opacity 0.5s;

  &.achievement-visible {
    opacity: 1;
    transform: translateX(0);
  }
  &.achievement-hidden {
    opacity: 0;
    transform: translateX(400px);
  }
}
