.item-selected {
  border-left-width: 2px;
  padding-left: 8px;
  background-color: rgba(0, 97, 254, 0.16);
}
.item-unselected {
  padding-left: 10px;
}
.browser-item {
  &:hover {
    /* select all .item-unselected elements inside */
    > .item-unselected {
      background-color: #f5f5f5;
    }
  }
}
